* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Títulos*/
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #009aca;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

h2 {
  color: #2e2f34;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem;
}

p {
  color: #2e2f34;
  font-size: 0.7rem;
  font-weight: 400;
  margin: 1rem 0rem;
  /*  position: center;
  justify-content: center;
  align-items: center; */
}

img {
  max-width: 80%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  max-width: 1320px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.col {
  width: 100%;
}

/* HEADER - NAV*/

header {
  background-color: #2e2f34;
  position: sticky;
  z-index: 2;
  padding: 1rem;
  top: 0px;
  /*sin esto no se me activaba el sticky*/
}

.logo {
  padding: 0;
  width: 30rem;
}

.hero__container {
  width: 100%;
  height: 600px;
  max-width: 1320px;
}
.hero__image {
  background-image: url(https://img.freepik.com/free-photo/weights-exercise-weightlifter-strong-athletic_1139-709.jpg?w=1800&t=st=1673991067~exp=1673991667~hmac=11419f96fecbd51fde4ae111db32b98adad98a3ca0ec94fa3c866e10eebe0ad7);
  height: 600px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero__button {
  width: 8rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: #009aca;
  color: #fff281;
  border-color: #fff281;
  margin: 10px;
  position: relative;
  align-self: center;
}

.hero__text {
  font-size: 3.5rem;
  color: #fff281;
  padding: 0.5rem;
}

.hero__button:hover {
  background-color: #fff281;
  color: #009aca;
  width: 20rem;
}

/* MOBILE FIRST */
.nav {
  visibility: hidden;
  display: flex;
  height: 0;
  position: absolute;
  font-size: 1rem;
}

/* MENU HAMBURGUESA */
.nav-toggle {
  cursor: pointer;
  border: none;
  width: 4rem;
  height: 3rem;
  padding: 0rem;
  background-color: transparent;
  color: #fff281;
  transition: opacity 250ms ease;
  position: relative;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__list {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
}

/* .nav__list {
  background-color: #2e2f34;
  list-style: none;
  display: flex; */

.nav__link {
  color: #fff281;
  text-decoration: none;
}

.nav__item {
  margin: 0 0 0 1.5rem;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.65;
}

/* .nav__link--button {
  display: flex;
  position: relative;
  background: #fff281;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.93rem 3.3rem 0.93rem 1.2rem;
  font-weight: 700;
  border: 0.1rem solid white;
  border-radius: 50rem;
  cursor: pointer;
  z-index: 1;
  transition: all 0.5s;
}
.nav__link--button span {
  position: absolute;
  background-color: #55ae36;
  width: 2.5rem;
  height: 2.5rem;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  border-radius: 50%; */

.nav__list--primary {
  margin-bottom: 2rem;
}
/* .nav__link--button span i {
  color: white;
  font-size: 1rem;
  line-height: 2.5rem;
}

.nav__link--button:hover {
  color: white;
}

.nav__link--button:hover span {
  background-color: rgba(#000, 0.6);
}

.nav__link--button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: linear-gradient(to right, #55ae36, #88e169);
  z-index: -1;
  border-radius: 0 0 50% 50%;
  transition: all 0.5s;
}

.nav__link--button:hover:before {
  height: 190%;
}
 */

/* FOOTER */
footer {
  background-color: #2e2f34;
  color: #fff281;
  text-align: center;
  padding: 20px;
}

.footer-sm {
  background-color: #2e2f34;
  color: #fff281;
  position: center;
  font-size: 2rem;
  padding: 10px;
  list-style: none;
  text-decoration: none;
}

/* PAGE INDEX */
#intro-section {
  background-color: white;
}

.maps {
  width: 350px;
  height: 450px;
}

.img-box {
  text-align: center;
}

/* PAGE NOSOTROS */
.nosotros__img {
  width: 100%;
  margin: auto;
  padding: 10px;
  max-width: 1320px;
  text-align: center;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .container {
    /* width: 80%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  /* desaparecer el menu hamburguesa */
  .nav-toggle {
    display: none;
  }

  .maps {
    width: 600px;
    height: 450px;
  }

  .nav {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    position: relative;
  }

  .nav__list {
    display: flex;
    margin: 0;
  }

  .nav__items {
    margin: 0 0 0 1.5rem;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .img-box {
    margin-top: 0;
  }

  .display-2 {
    font-size: 3.4rem;
  }

  .display-2--description {
    font-size: 1rem;
    display: inline-block;
  }
}

@media (min-width: 1024px) {
}

/* TABLA PRECIOS */
#price {
  display: inline-block;
  width: 80%;
  margin: 40px;
}

/*Columnas*/

.price__box {
  display: inline-block;
  background-color: #f3f3f3;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 0px 2px 5px #ddd;
}

@media screen and (min-width: 768px) {
  .price__box {
    width: 40%;
    /*   float: left; */
    margin: 2%;
  }
}

/*ABONOS -Headers*/

.price__header {
  background-color: #2e2f34;
  padding: 20px 20px 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #f3f3f3;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
}

.price__box:nth-child(2) .price__header {
  background-color: #009aca;
}

/*Características*/

.price__box--basico {
  text-align: center;
  color: #009aca;
  font-size: 20px;
  margin-bottom: 0;
  background-color: #2e2f34;
  padding: 0 0 10px 0;
}

.price__box--premium {
  text-align: center;
  color: #2e2f34;
  font-size: 20px;
  margin-bottom: 0;
  background-color: #009aca;
  padding: 0 0 10px 0;
}

.price__description {
  padding: 0 20px 20px 20px;
}

.price__description p {
  padding: 20px 0;
  margin: 0;
  text-align: center;
  border-top: 1px solid #ddd;
}

/*Comprar*/

.price__button {
  padding: 10px;
  max-width: 250px;
  text-align: center;
  background-color: #fff281;
  margin: 0 auto 20px;
  border-radius: 10px;
  border: 2px solid #009aca;
  transition: all 0.3s;
}

.price__button a {
  color: #009aca;
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
  transition: all 0.3s;
}

.price__button:hover {
  background-color: #009aca;
  transition: all 0.3s;
}

.price__button:hover a {
  color: #ddd;
  transition: all 0.3s;
}

/* FORMULARIO DE CONSULTA */

input + span {
  position: relative;
}

input + span::before {
  position: absolute;
  right: -20px;
  top: 5px;
}

/* input:invalid {
  border: 2px solid red;
} */

input:invalid + span::before {
  content: "✖";
  color: red;
}

input:valid + span::before {
  content: "✓";
  color: green;
}

.form__button {
  /* background-color: #2e2f34;
  color: white; */
  height: 2.5rem;
  width: 10rem;
}

.form__button:hover {
  background-color: #009aca;
  transition: all 0.3s;
}

.price__button:hover a {
  color: #ddd;
  transition: all 0.3s;
}

.form {
  width: 420px;
  /* background-image: url("../img/gimnera2.jpg"); */
  color: black;
  float: center;
}

.fieldset {
  padding: 10px 50px 10px 50px;
}

.label {
  padding: 10px;
}

.legend {
  padding: 0 10px 0 10px;
  background-color: white;
  color: #009aca;
  font-size: 1.6rem;
}

/* CAJAS COMO ESTUDIO CONTABLE - FORMULARIO DE INSCRIPCIÓN */
.inscipcion {
  margin-bottom: 1rem !important;
}
/* .input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
} */
*,
::before,
::after {
  box-sizing: border-box;
}
/* .input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
} */

/* .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
} */

/* FORMULARIO DE INSCRIPCION */
.signupFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
}

.form__inscripcion {
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.title {
  font-size: 50px;
  margin-bottom: 50px;
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}
/* Style the inputs */

.input__inscripcion {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #dadce0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

/* Hide the placeholder texts (a) */

::placeholder {
  color: transparent;
}

/* Styling text labels */

.label__inscripcion {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #dadce0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

/* PROBANDO */
/* .option {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #dadce0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
} */
/* 
.submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: #009aca;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.submitBtn:hover {
  background-color: #009aca;
  transform: translateY(-2px);
} */

.input__inscripcion:focus + .label__inscripcion {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: #009aca;
}
.input__inscripcion:focus {
  border: 2px solid #009aca;
}

.input__inscripcion:not(:placeholder-shown) + .label__inscripcion {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}
